#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --parallel --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-silent-rules \
		--enable-gtk-doc \
		--enable-gtk-doc-pdf \
		--enable-gtk-doc-html \
		--disable-h2a

override_dh_auto_clean:
	test -f Makefile && dh_auto_clean || true

override_dh_compress:
	dh_compress -Xu2f-server.pdf


gen-orig-source:
	git archive --format=tar.gz                                     \
		--prefix=$(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)/         \
		upstream/$(subst ~,_,$(DEB_VERSION_UPSTREAM))           \
		-o ../$(DEB_SOURCE)_$(DEB_VERSION_UPSTREAM).orig.tar.gz
